.foto-perfil{
    border-radius: 100%;
    border: 1px solid black;
    max-width: 200px;
    margin-left: 45px;

}

.geral{
    border: 5px solid rgb(103, 168, 233);
    background-color: rgb(103, 168, 233);
    width: 300px;
    text-align: center;
}

h1{
    margin: 30px;
    margin-left: 40px;
    text-align: center;
}

body{

    background-color:rgba(207, 209, 211, 0.89);    
       
}

.foto{
    left: 300px;
    width: 300px;
    background-color: rgb(103, 168, 233);
    float: left;
}

.cabeçalho1{
    left: 300px;
    width: 300px;
    background-color: rgb(103, 168, 232);
    margin-left: 0px;
    margin-right: 4px;
    float:left
}

.cabeçalho2{
    left: 300px;
    width: 300px;
    background-color: rgb(102, 168, 235);
    margin-left: 0px;
    margin-right: 4px;
    float: left;

}

.row1{

    float: left;
    margin-left: 60px;
    margin-top: -360px;
    padding-right: 600px;
   

    
}
.row2{
    float: left;
    margin-left: 260px;
    padding: 50px;
    margin-top: -810px;
    
    

}

.row3{
    float: left;
    margin-left: 370px;
    margin-top:-650px;
    padding-right: 300px;

}

.row4{
    float: left;
    margin-left: 260px;
    padding: 50px;
    margin-top: -630px
}

.row5{
    float: left;
    margin-left: 370px;
    margin-top:-505px;
    padding-right:200px;
}

.row6{
    float: left;
    margin-left: 260px;
    padding: 50px;
    margin-top:-480px;
}

.row7{
    float: left;
    margin-left: 370px;
    margin-top:-350px;
    padding-right:150px;
}

.row8{
    float: left;
    margin-left: 260px;
    padding: 50px;
    margin-top:-320px;
}

.whatsapp-link{
    width: 60px;
    height: 60px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;

}

.fa-whatsapp{
    margin-top: 16px;
}

.gmail-link{
    width: 60px;
    height: 60px;
    right: 40px;
    background-color: white;
    color: red;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-gmail{
    margin-top: 16px;
}

.linkedin-link{
    width: 60px;
    height: 60px;
    right: 40px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-linkedin{
    margin-top: 16px;
}

.github-link{
    width: 60px;
    height: 60px;
    right: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-github{
    margin-top: 16px;
}